.container{
	background-color : lightgray ;
	display : flex ;
	justify-content : space-around ;
	flex-wrap : wrap ;
}
.blog-column{
	background-color : white ;
	line-height : 2 ;
	height : 270px ;
	width : 220px ;
	margin : 20px ;
	text-align : center ;
}


	